ul{
    list-style-type: none;
    padding: 0;
  }
  
  li a {
    text-decoration: none;
  }
  
  .top-container{
    position: fixed;
    z-index: 1000;
    width: 100%;
    background-color: #fff;
    background-color: rgba(255,255,255,.9);
    border-top: 5px solid darkgreen;
  }
  
  .logo{
      width: 170px;
      height: auto;
      cursor: pointer;
      padding-left: 40px;
    }
  
  .icon-profile {
      height: 40px;
      margin-left: 35px;
      margin-top: 14px;
    }
  
  .nav-item{
      margin: 0 16px;
  }
  
  .nav-item::after {
      content: '';
      display: block;
      width: 0px;
      height: 2px;
      border-bottom: 1px solid black;
      transition: 0.4s
  }
  
  .nav-item:hover::after {
      width: 100%;
  }
  
  .product-name{
      font-size: 12px;
  }

  .description{
      color: #bbb;
      font-size: 10px;
  }

  p{
      text-align: center;
  }

  .prod{
      text-align: center;
  }